body {
    flex-direction: column;
    align-items: center;
}

.navbar {
    padding: 0.8rem 1.4rem;
    width: 100vw;
    max-width: 100vw;
    font-size: 1.2rem;
    justify-content: space-between;
}

.navbar>a {
    outline: none;
}

.left-nav {
    gap: 0.8rem;
}

.right-nav {
    gap: 1.4rem;
    align-items: center;
}

.h-button {
    color: black;
}

.logo-link {
    font-family: serif;
    color: black;
}

.fa-magnifying-glass {
    color: black;
    font-size: smaller;
}

.dots {
    text-align: start;
}

.dots-link {
    letter-spacing: 1px;
}

.main-menu-content {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    top: 2.8rem;
    width: max-content;
    margin-left: 1rem;
    font-size: 0.75rem;
    padding: 0.8rem;

    box-shadow: 0 0 0.2rem rgba(25, 25, 25, 0.1);
}

.main-menu>a,
.contribute-menu>a {
    display: block;
    padding-block: 0.35rem;
    color: rgb(0, 0, 211);
}

.search-bar {
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: 15vw;
    width: 70vw;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0.2rem;
    background-color: white;
}

.search-bar-box {
    width: 90%;
    outline: none;
    border: none;
}

.search-btn {
    border: none;
    border-left: 1px solid black;
    background-color: white;
    padding: 0.2rem;
    
}

.search-icon {
    margin: auto 0.2rem;
}

.search-close-btn {
    position: absolute;
    z-index: 9;
    top: 1.22rem;
    right: 2rem;
    font-size: larger;
    padding: 0.2rem 3rem;
    margin-inline: -3rem;
    align-items: baseline;
}

.close-btn-link-left {
    /* background-color: red; */
    position: absolute;
    z-index: 5;
    inset: 0;
    cursor: auto;
    overflow: hidden;
}

.search-close-btn-link,
.content-link,
.dots-link,
.contents-dd-link {
    color: black;
}

.three-dot-menu {
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 2.8rem;
    right: 1rem;
    padding: 1rem;
    font-size: smaller;
    width: max-content;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

main {
    width: 90vw;
    max-width: 50rem;
    margin-top: 1.6rem;
}

.main-header {
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.4rem;
}

.m-h-left {
    width: fit-content;
    align-items: baseline;
}

.m-h-left>* {
    padding-inline: 0.6rem;
}

.contents-menu {
    font-size: 1.1rem;
}

.title {
    width: max-content;
    font-size: 1.7rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}

.lang-txt {
    font-weight: 600;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.languages-link {
    font-size: small;
    align-items: center;
    color: rgb(125, 125, 210);
}

.languages-link:hover {
    text-decoration: none;
}

.contents {
    background-color: #fff;
    position: absolute;
    z-index: 9;
    padding: 1rem;
    flex-direction: column;
    gap: 0.4rem;
    width: max-content;
    max-width: 95vw;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
}

.contents>a:focus,
.contents-items>a:focus,
.content-sub-menu>a:focus,
.deeper-menu>a:focus,
.deep-menu>a:focus {
    outline: 0.1rem solid rgba(128, 128, 128, 0.63);
}

.content-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.contents-hr {
    height: 0;
    margin-block: 0.1rem 0.3rem;
    border: 0.01rem solid rgba(128, 128, 128, 0.1) ;
}

.content-1 {
    font-weight: 500;
    font-size: rem;
    color: black;
}

.content-1:hover {
    text-decoration: underline;
}

.dd {
    position: relative;
    left: -0.4rem;
}

.dd-icons {
    font-size: 0.6rem;
    transition: 100ms ease-in-out;
    margin-left: 0.1rem;
}

.sub-menu-hr {
    border-color: rgba(107, 107, 107, 0.1);
}

.content-sub-menu {
    flex-direction: column;
    gap: 0.4rem;
    margin-left: 1rem;
}

.sub-sub-menu {
    flex-direction: column;
    gap: 0.4rem;
    margin-left: 1rem;
}

.languages-menu {
    position: absolute;
    top: 7.4rem;
    right: 5vw;
    z-index: 9;
    margin: 0 0 0 auto;
    min-width: none;
    width: 25rem;
    max-width: fit-content;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
}

.search-lang {
    background-color: #fff;
    border-block: 0.4px solid rgba(0, 0, 0, 0.3);
    padding: 0.6rem 0.4rem;
    align-items: baseline;
    gap: 0.4rem;
}

.search-lang>input {
    border: none;
    outline: none;
}

.main-lang-menu {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 3rem;
    height: 16rem;
    overflow-y: scroll;
    background-color: rgb(252, 252, 255);
}

.lang-sub-menu {
    flex-direction: column;
    gap: 1rem;
}

.sub-sub-lang {
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0.4rem 3rem;
}

.lang-items {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
}

.sub-sub-lang > a:hover {
    background-color: rgba(131, 131, 255, 0.2);
}

.sub-sub-lang > a:focus {
    outline: 2px solid rgb(89, 89, 255);
}

.add-lang {
    padding: 0.4rem 0.6rem;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    align-items: baseline;
    background-color: rgb(252, 252, 255);
}

.right-add-lang>a,
.left-add-lang>a {
    align-items: baseline;
    gap: 0.8rem;
    color: rgb(80, 80, 80);
    font-weight: 500;
    padding: 0.4rem 1rem;
}

.action-menu {
    align-items: baseline;
    justify-content: space-between;
}

.left-action-menu {
    gap: 1rem;
    align-items: baseline;
}

.lam-link {
    padding-block: 0.4rem;
}

.right-action-menu {
    gap: 0.8rem;
    align-items: baseline;
}

.tools-menu {
    flex-direction: column;
    gap: 0.4rem;
    position: absolute;
    right: 5dvw;
    z-index: 10;
    width: max-content;
    padding: 1rem;
    height: calc(100vh - 7rem);
    overflow-y: scroll;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
    font-size: 0.78rem;
}

.tools-sub-menu {
    flex-direction: column;
    gap: 0.4rem;
}

.under-main-header {
    align-items: baseline;
}

.under-main-menu-partition {
    justify-content: space-between;
}

.txt-under-main-header {
    padding-block: 0.4rem;
}

.icon-under-main-header {
    font-size: 1.2rem;
    color: gray;
    padding: 0.2rem;
    text-align: end;
}

.more-txt-under-main-header {
    font-size: 0.8rem;
    padding-block: 0.4rem;
    text-indent: 0.8rem;
}

.image-and-description {
    margin-left: calc(100% - 15rem);
    flex-direction: column;
    align-items: center;
    width: 15rem;
    /* background-color: aqua; */
}

.main-img-desc {
    background-color: aliceblue;
    border: 1px solid rgba(78, 78, 78, 0.2);
    margin-block: 0.2rem;
    padding: 0.4rem 0.6rem;
}

.main-desc-img {
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/120px-HTML5_logo_and_wordmark.svg.png);
    height: 8rem;
    margin-inline: auto;
}