@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

    list-style: none;

    font-family: "Poppins", sans-serif;
}

*:focus {
    outline: 0.5px solid rgb(0, 0, 0, 0.2);
    border-radius: 1px;
}

body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

a.active {
    color: darkslategrey;
    border-bottom: 1px solid darkslategray;
}

a {
    color: rgb(0, 0, 221);
}
a:hover {
    text-decoration: underline solid rgb(0, 0, 221) 1px;
    text-decoration-color: rgb(0, 0, 221);
}

a.no-underline:hover {
    text-decoration: none;
}

img {
    display: block;
}

.rotate-90deg {
    rotate: 90deg;
}

.rotate-180deg{
    rotate: 180deg;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 100;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.font-logo {
    font-size: 1.4rem;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: bolder;
}

.thin {
    font-weight: 500;
}

.thiner {
    font-weight: 300;
}

.large {
    font-size: 1.4rem;
}

.small {
    font-size: 0.8rem;
}

.smaller {
    font-size: 0.6rem;
}

.smallest {
    font-size: 0.4rem;
}

.navbar,
.navbar>* {
    overflow-x: hidden;
}

hr {
    border: 0.8px solid rgba(128, 128, 128, 0.35) 0 0 0;
    height: 0px;
}

.center {
    text-align: center;
}